@import '@/styles/layout.scss';

.bo-loading-spinner {
	position: absolute;
	border-radius: 50%;
	border: 2px solid transparent;
	animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;

	&.xxs {
		width: 8px;
		height: 8px;
	}

	&.xs {
		width: 12px;
		height: 12px;
	}

	&.sm {
		width: 14px;
		height: 14px;
	}

	&.md {
		width: 16px;
		height: 16px;
	}

	&.lg {
		width: 24px;
		height: 24px;
	}

	&.xl {
		width: 32px;
		height: 32px;
	}

	&.xxl {
		width: 40px;
		height: 40px;
	}

	&.xxxl {
		width: 48px;
		height: 48px;
	}

	&.default {
		border-top: 2px solid var(--black);
	}

	&.info {
		border-top: 2px solid var(--blue-600);
	}

	&.tertiary {
		border-top: 2px solid var(--gray-600);
	}

	&.success {
		border-top: 2px solid var(--green-600);
	}

	&.warning {
		border-top: 2px solid var(--yellow-500);
	}

	&.danger {
		border-top: 2px solid var(--red-600);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
