@import '@/styles/layout.scss';
@import '@/styles/themes.scss';
@import '@/styles/typography.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

.bo-input {
	&__container {
		display: flex;
		max-width: 350px;
		flex-direction: column;
	}

	&__label {
		@extend .font-sm;
		@extend .font-inter;
		@extend .font-regular;

		display: block;
		color: var(--input-text-color);
	}

	&__field-container {
		padding: 6px 0;
		position: relative;

		&__input {
			width: 100%;
			outline: none;
			display: block;
			border-radius: 6px;
			color: var(--input-text-color);
			border: 1px solid var(--input-border-color);
			background-color: var(--input-background-color);

			&.sm {
				padding: 8px;
			}

			&.md {
				padding: 10px;
			}

			&.lg {
				padding: 16px;
			}

			&:disabled {
				color: var(--input-disabled-text-color);
				background-color: var(--input-disabled-background-color);
				border: 1px solid var(--input-disabled-border-color);
			}

			&.default {
				&:focus {
					border: 1px solid var(--blue-600);
					transition: all 0.2s ease-in-out;
				}
			}

			&.error {
				border: 1px solid var(--error-color);
			}
		}

		&__icon-container {
			display: flex;
			align-items: baseline;
			justify-content: space-around;

			&__icon {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&__error-container {
		display: flex;
		align-items: center;

		&__icon {
			margin-right: 4px;
		}

		&__msg {
			@extend .font-sm;
			@extend .font-regular;

			color: var(--error-color);
		}
	}

	&__description {
		@extend .font-xs;
		@extend .font-inter;
		@extend .font-regular;

		color: var(--input-text-color);
	}
}
