@import '@/styles/layout.scss';
@import '@/styles/typography.scss';

.bo-badge {
	@extend .font-sm;
	@extend .font-medium;
	@extend .font-assistant;

	cursor: default;

	user-select: none;
	align-items: center;
	display: inline-flex;
	justify-content: center;

	&.default {
		&.filled {
			color: var(--white);
			background-color: var(--black);
		}

		&.outline {
			color: var(--black);
			background-color: transparent;
			border: 1px solid var(--black);
		}
	}

	&.info {
		&.filled {
			color: var(--white);
			background-color: var(--blue-600);
		}

		&.outline {
			color: var(--blue-600);
			background-color: transparent;
			border: 1px solid var(--blue-600);
		}
	}

	&.tertiary {
		&.filled {
			color: var(--white);
			background-color: var(--gray-500);
		}

		&.outline {
			color: var(--gray-600);
			background-color: transparent;
			border: 1px solid var(--gray-600);
		}
	}

	&.success {
		&.filled {
			color: var(--white);
			background-color: var(--green-600);
		}

		&.outline {
			color: var(--green-600);
			background-color: transparent;
			border: 1px solid var(--green-600);
		}
	}

	&.warning {
		&.filled {
			color: var(--white);
			background-color: var(--yellow-500);
		}

		&.outline {
			color: var(--yellow-500);
			background-color: transparent;
			border: 1px solid var(--yellow-500);
		}
	}

	&.danger {
		&.filled {
			color: var(--white);
			background-color: var(--red-600);
		}

		&.outline {
			color: var(--red-600);
			background-color: transparent;
			border: 1px solid var(--red-600);
		}
	}

	&.flat {
		border-radius: 0;
		padding: 4px 8px;
		max-width: fit-content;
	}

	&.base {
		padding: 4px 8px;
		border-radius: 4px;
		max-width: fit-content;
	}

	&.pill {
		padding: 4px 8px;
		border-radius: 50px;
		align-items: center;
		display: inline-flex;
		max-width: fit-content;
	}

	&.circle {
		padding: 5px;
		border-radius: 50%;

		.label {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&.xxs {
			@extend .width-xxs;
		}

		&.xs {
			@extend .width-xs;
		}

		&.sm {
			@extend .width-sm;
		}

		&.md {
			@extend .width-md;
		}

		&.lg {
			@extend .width-lg;
		}

		&.xl {
			@extend .width-xl;
		}

		&.xxl {
			@extend .width-xxl;
		}

		&.xxxl {
			@extend .width-xxxl;
		}
	}

	&.xxs {
		@extend .font-xxs;
		@extend .height-xxs;
	}

	&.xs {
		@extend .font-xs;
		@extend .height-xs;
	}

	&.sm {
		@extend .font-sm;
		@extend .height-sm;
	}

	&.md {
		@extend .font-md;
		@extend .height-md;
	}

	&.lg {
		@extend .font-lg;
		@extend .height-lg;
	}

	&.xl {
		@extend .font-xl;
		@extend .height-xl;
	}

	&.xxl {
		@extend .font-xxl;
		@extend .height-xxl;
	}

	&.xxxl {
		@extend .font-xxxl;
		@extend .height-xxxl;
	}

	&.label {
		text-overflow: clip;
	}
}
