@import '@/styles/typography.scss';

.bo-badge {
	@extend .font-medium;

	cursor: default;
	user-select: none;
	line-height: 1rem;
	font-size: 0.75rem;
	align-items: center;
	display: inline-flex;
	justify-content: center;

	&.default {
		&.filled {
			color: var(--white);
			background-color: var(--black);
		}

		&.outline {
			color: var(--black);
			background-color: transparent;
			border: 0.063rem solid var(--black);
		}
	}

	&.info {
		&.filled {
			color: var(--blue-800);
			background-color: var(--blue-100);
		}

		&.outline {
			color: var(--blue-600);
			background-color: transparent;
			border: 0.063rem solid var(--blue-600);
		}
	}

	&.tertiary {
		&.filled {
			color: var(--gray-600);
			background-color: var(--gray-100);
		}

		&.outline {
			color: var(--gray-600);
			background-color: transparent;
			border: 0.063rem solid var(--gray-600);
		}
	}

	&.success {
		&.filled {
			color: var(--green-600);
			background-color: var(--green-100);
		}

		&.outline {
			color: var(--green-600);
			background-color: transparent;
			border: 0.063rem solid var(--green-600);
		}
	}

	&.warning {
		&.filled {
			color: var(--yellow-600);
			background-color: var(--yellow-100);
		}

		&.outline {
			color: var(--yellow-500);
			background-color: transparent;
			border: 0.063rem solid var(--yellow-500);
		}
	}

	&.danger {
		&.filled {
			color: var(--red-600);
			background-color: var(--red-100);
		}

		&.outline {
			color: var(--red-600);
			background-color: transparent;
			border: 0.063rem solid var(--red-600);
		}
	}

	&.square {
		border-radius: 0;
		max-width: fit-content;
		padding: 0.25rem 0.625rem;
	}

	&.pill {
		border-radius: 0.25rem;
		max-width: fit-content;
		padding: 0.25rem 0.625rem;
	}

	&.circle {
		padding: 0.313rem;
		border-radius: 50%;

		&.xs {
			width: 0.375rem;
		}

		&.sm {
			width: 0.5rem;
		}

		&.md {
			width: 0.75;
		}

		&.lg {
			width: 1rem;
		}

		&.xl {
			width: 1.25rem;
		}
	}

	&.xs {
		height: 0.375rem;
	}

	&.sm {
		height: 0.5rem;
	}

	&.md {
		height: 0.75;
	}

	&.lg {
		height: 1rem;
	}

	&.xl {
		height: 1.25rem;
	}

	&.label {
		text-overflow: clip;
	}
}
