# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
.DS_Store
dist
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*storybook.log

.env
!.env.example

# Storybook build directory
!static