# Logs
logs
*.log
npm-debug.log*
npm-debug.log*


node_modules
.DS_Store
dist
coverage
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

*.tsbuildinfo
cache

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
