* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

html {
	font-size: 0.875rem;
	line-height: calc(1.25 / 0.875);
}
