/* ========== AVATAR COMPONENT ========== */

:root {
	--avatar-bg: var(--neutral-200);
	--avatar-color: var(--neutral-700);
	--avatar-border: var(--neutral-300);
	--avatar-border-width: 2px;
}

:root[data-theme='dark'] {
	--avatar-bg: var(--neutral-700);
	--avatar-color: var(--neutral-200);
	--avatar-border: var(--neutral-600);
}
