:root {
	/* bo-icon */
	--bo-icon-color-default: currentcolor;
	--bo-icon-color-primary: var(--blue-600);
	--bo-icon-color-secondary: var(--neutral-600);
	--bo-icon-color-disabled: var(--neutral-400);
	--bo-icon-color-success: var(--green-600);
	--bo-icon-color-warning: var(--yellow-500);
	--bo-icon-color-danger: var(--red-600);
	--bo-icon-color-light: var(--neutral-50);
	--bo-icon-color-dark: var(--gray-950);
	--bo-icon-color-current: currentcolor;
	--bo-icon-color-inherit: inherit;

	/* bo-text */
	--bo-text-color-default: var(--gray-900);
	--bo-text-color-primary: var(--blue-600);
	--bo-text-color-secondary: var(--neutral-600);
	--bo-text-color-disabled: var(--neutral-400);
	--bo-text-color-success: var(--green-600);
	--bo-text-color-warning: var(--yellow-500);
	--bo-text-color-danger: var(--red-600);
	--bo-text-color-light: var(--neutral-50);
	--bo-text-color-dark: var(--gray-950);
	--bo-text-color-current: currentcolor;
	--bo-text-color-inherit: inherit;

	/* bo-loading-ring */
	--bo-loading-ring-color-primary: var(--blue-600);
	--bo-loading-ring-color-secondary: var(--gray-400);
	--bo-loading-ring-color-success: var(--green-600);
	--bo-loading-ring-color-warning: var(--yellow-600);
	--bo-loading-ring-color-danger: var(--red-600);
	--bo-loading-ring-color-dark: var(--gray-800);
	--bo-loading-ring-color-light: var(--neutral-50);

	/* bo-loading-spinner */
	--bo-loading-spinner-color-primary: var(--blue-600);
	--bo-loading-spinner-color-secondary: var(--gray-400);
	--bo-loading-spinner-color-success: var(--green-600);
	--bo-loading-spinner-color-warning: var(--yellow-600);
	--bo-loading-spinner-color-danger: var(--red-600);
	--bo-loading-spinner-color-dark: var(--neutral-900);
	--bo-loading-spinner-color-light: var(--gray-100);
}

:root[data-theme='dark'],
.dark {
	/* bo-icon */
	--bo-icon-color-default: currentcolor;
	--bo-icon-color-primary: var(--blue-400);
	--bo-icon-color-secondary: var(--neutral-400);
	--bo-icon-color-disabled: var(--neutral-600);
	--bo-icon-color-success: var(--green-400);
	--bo-icon-color-warning: var(--yellow-400);
	--bo-icon-color-danger: var(--red-400);
	--bo-icon-color-light: var(--neutral-900);
	--bo-icon-color-dark: var(--gray-50);
	--bo-icon-color-current: currentcolor;
	--bo-icon-color-inherit: inherit;

	/* bo-text */
	--bo-text-color-default: var(--gray-50);
	--bo-text-color-primary: var(--blue-400);
	--bo-text-color-secondary: var(--neutral-400);
	--bo-text-color-disabled: var(--neutral-600);
	--bo-text-color-success: var(--green-400);
	--bo-text-color-warning: var(--yellow-400);
	--bo-text-color-danger: var(--red-400);
	--bo-text-color-light: var(--neutral-900);
	--bo-text-color-dark: var(--gray-50);
	--bo-text-color-current: currentcolor;
	--bo-text-color-inherit: inherit;

	/* bo-loading-ring */
	--bo-loading-ring-color-primary: var(--blue-400);
	--bo-loading-ring-color-secondary: var(--gray-500);
	--bo-loading-ring-color-success: var(--green-400);
	--bo-loading-ring-color-warning: var(--yellow-400);
	--bo-loading-ring-color-danger: var(--red-400);
	--bo-loading-ring-color-dark: var(--gray-200);
	--bo-loading-ring-color-light: var(--neutral-900);

	/* bo-loading-spinner */
	--bo-loading-spinner-color-primary: var(--blue-400);
	--bo-loading-spinner-color-secondary: var(--gray-500);
	--bo-loading-spinner-color-success: var(--green-400);
	--bo-loading-spinner-color-warning: var(--yellow-400);
	--bo-loading-spinner-color-danger: var(--red-400);
	--bo-loading-spinner-color-dark: var(--gray-200);
	--bo-loading-spinner-color-light: var(--neutral-900);
}
