@font-face {
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('@/assets/fonts/Assistant/Assistant-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('@/assets/fonts/Assistant/Assistant-ExtraBold.ttf') format('ttf');
}

@font-face {
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('@/assets/fonts/Assistant/Assistant-ExtraLight.ttf') format('ttf');
}

@font-face {
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('@/assets/fonts/Assistant/Assistant-Medium.ttf') format('ttf');
}

@font-face {
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('@/assets/fonts/Assistant/Assistant-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Assistant';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('@/assets/fonts/Assistant/Assistant-SemiBold.ttf') format('ttf');
}
