@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('@/assets/fonts/Inter/Inter-Light.woff2?v=3.19') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('@/assets/fonts/Inter/Inter-Regular.woff2?v=3.19') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('@/assets/fonts/Inter/Inter-Medium.woff2?v=3.19') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('@/assets/fonts/Inter/Inter-SemiBold.woff2?v=3.19') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('@/assets/fonts/Inter/Inter-Bold.woff2?v=3.19') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('@/assets/fonts/Inter/Inter-ExtraBold.woff2?v=3.19') format('woff2');
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('@/assets/fonts/Inter/Inter-roman.var.woff2?v=3.19') format('woff2');
}
