@import '@/styles/layout.scss';
@import '@/styles/typography.scss';

.bo-badge {
	@extend %font-sm;
	@extend %font-medium;
	@extend %font-assistant;

	cursor: default;

	user-select: none;
	align-items: center;
	display: inline-flex;
	justify-content: center;

	&.default {
		&.filled {
			color: var(--white);
			background-color: var(--black);
		}

		&.outline {
			color: var(--black);
			background-color: transparent;
			border: 0.0625rem solid var(--black);
		}
	}

	&.info {
		&.filled {
			color: var(--white);
			background-color: var(--blue-600);
		}

		&.outline {
			color: var(--blue-600);
			background-color: transparent;
			border: 0.0625rem solid var(--blue-600);
		}
	}

	&.tertiary {
		&.filled {
			color: var(--white);
			background-color: var(--gray-500);
		}

		&.outline {
			color: var(--gray-600);
			background-color: transparent;
			border: 0.0625rem solid var(--gray-600);
		}
	}

	&.success {
		&.filled {
			color: var(--white);
			background-color: var(--green-600);
		}

		&.outline {
			color: var(--green-600);
			background-color: transparent;
			border: 0.0625rem solid var(--green-600);
		}
	}

	&.warning {
		&.filled {
			color: var(--white);
			background-color: var(--yellow-500);
		}

		&.outline {
			color: var(--yellow-500);
			background-color: transparent;
			border: 0.0625rem solid var(--yellow-500);
		}
	}

	&.danger {
		&.filled {
			color: var(--white);
			background-color: var(--red-600);
		}

		&.outline {
			color: var(--red-600);
			background-color: transparent;
			border: 0.0625rem solid var(--red-600);
		}
	}

	&.flat {
		border-radius: 0;
		max-width: fit-content;
		padding: 0.25rem 0.5rem;
	}

	&.base {
		max-width: fit-content;
		border-radius: 0.25rem;
		padding: 0.25rem 0.5rem;
	}

	&.pill {
		align-items: center;
		display: inline-flex;
		max-width: fit-content;
		border-radius: 3.125rem;
		padding: 0.25rem 0.5rem;
	}

	&.circle {
		padding: 0.3125rem;
		border-radius: 50%;

		.label {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&.xs {
			width: 0.625rem;
			height: 0.625rem;
		}

		&.sm {
			width: 0.75rem;
			height: 0.75rem;
		}

		&.md {
			width: 1rem;
			height: 1rem;
		}

		&.lg {
			width: 1.25rem;
			height: 1.25rem;
		}

		&.xl {
			width: 1.5rem;
			height: 1.5rem;
		}

		&.xxl {
			width: 2rem;
			height: 2rem;
		}

		&.xxxl {
			width: 2.5rem;
			height: 2.5rem;
		}
	}

	&.xs {
		@extend %font-xxs;
	}

	&.sm {
		@extend %font-xs;
	}

	&.md {
		@extend %font-sm;
	}

	&.lg {
		@extend %font-lg;
	}

	&.xl {
		@extend %font-xl;
	}

	&.xxl {
		@extend %font-xxl;
	}

	&.xxxl {
		@extend %font-xxxl;
	}

	&.label {
		text-overflow: clip;
	}
}
