@layer components {
	.bo-label {
		@apply flex items-center gap-2 select-none font-medium leading-none;
		color: var(--color-neutral-900);
	}

	.dark .bo-label {
		color: var(--color-neutral-100);
	}

	.bo-label--sm {
		@apply text-xs;
	}

	.bo-label--default {
		@apply text-sm;
	}

	.bo-label--lg {
		@apply text-base;
	}

	.bo-label--disabled {
		@apply pointer-events-none opacity-50 cursor-not-allowed;
	}

	.bo-label__required {
		color: var(--color-red-500);
	}

	.dark .bo-label__required {
		color: var(--color-red-400);
	}
}
