@layer components {
	.bo-textarea {
		@apply flex w-full flex-col transition-all duration-200;
	}

	.bo-textarea__label-container {
		@apply flex flex-col items-start gap-1 pb-2;
		@apply text-neutral-900;
	}

	.bo-textarea__label {
		@apply flex items-center text-sm font-medium;
	}

	.bo-textarea__description {
		@apply text-sm text-neutral-600;
	}

	.dark .bo-textarea__description {
		@apply text-neutral-400;
	}

	.dark .bo-textarea__label-container {
		@apply text-neutral-100;
	}

	.bo-textarea__required {
		@apply ms-1 text-sm font-medium text-red-600;
	}

	.dark .bo-textarea__required {
		@apply text-red-400;
	}

	.bo-textarea__container {
		@apply relative flex w-full rounded-xl border shadow-xs outline-none transition-[color,box-shadow];
	}

	.bo-textarea__container:focus-within {
		@apply ring-[3px];
	}

	.bo-textarea__container--expand {
		@apply grow;
	}

	.bo-textarea__container--default {
		@apply border-neutral-300 bg-transparent;
	}

	.bo-textarea__container--default:hover {
		@apply border-neutral-400;
	}

	.bo-textarea__container--default:focus-within {
		@apply border-blue-500;
		box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-blue-500) 50%, transparent);
	}

	.dark .bo-textarea__container--default {
		@apply border-neutral-700;
	}

	.dark .bo-textarea__container--default:hover {
		@apply border-neutral-600;
	}

	.dark .bo-textarea__container--default:focus-within {
		@apply border-blue-400;
		box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-blue-400) 50%, transparent);
	}

	.bo-textarea__container--valid {
		@apply border-green-500 bg-transparent;
	}

	.bo-textarea__container--valid:hover {
		@apply border-green-600;
	}

	.bo-textarea__container--valid:focus-within {
		@apply border-green-500;
		box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-green-500) 50%, transparent);
	}

	.dark .bo-textarea__container--valid {
		@apply border-green-500;
	}

	.dark .bo-textarea__container--valid:hover {
		@apply border-green-400;
	}

	.dark .bo-textarea__container--valid:focus-within {
		@apply border-green-400;
		box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-green-400) 50%, transparent);
	}

	.bo-textarea__container--invalid {
		@apply border-red-500 bg-transparent;
	}

	.bo-textarea__container--invalid:hover {
		@apply border-red-600;
	}

	.bo-textarea__container--invalid:focus-within {
		@apply border-red-500;
		box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-red-500) 20%, transparent);
	}

	.dark .bo-textarea__container--invalid {
		@apply border-red-500;
	}

	.dark .bo-textarea__container--invalid:hover {
		@apply border-red-400;
	}

	.dark .bo-textarea__container--invalid:focus-within {
		@apply border-red-400;
		box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-red-400) 40%, transparent);
	}

	.bo-textarea__container--variant-default {
		@apply bg-transparent;
	}

	.bo-textarea__container--variant-filled {
		@apply bg-neutral-50;
	}

	.dark .bo-textarea__container--variant-filled {
		@apply bg-neutral-800;
	}

	.bo-textarea__container--disabled {
		@apply cursor-not-allowed border-neutral-200 bg-neutral-50 opacity-50;
	}

	.dark .bo-textarea__container--disabled {
		@apply border-neutral-700 bg-neutral-800;
	}

	.bo-textarea__field {
		@apply field-sizing-content min-h-16 w-full resize-none overflow-auto rounded-md border-none bg-transparent text-base font-normal text-neutral-900 outline-none md:text-sm;
	}

	.dark .bo-textarea__field {
		@apply text-neutral-100;
	}

	.bo-textarea__field::placeholder {
		@apply text-neutral-500;
	}

	.dark .bo-textarea__field::placeholder {
		@apply text-neutral-400;
	}

	.bo-textarea__field:disabled {
		@apply cursor-not-allowed opacity-50;
	}

	.bo-textarea__field[aria-invalid='true'] {
		@apply text-red-600;
	}

	.dark .bo-textarea__field[aria-invalid='true'] {
		@apply text-red-400;
	}

	.bo-textarea__field--with-prefix {
		@apply ps-10;
	}

	.bo-textarea__field--with-suffix {
		@apply pe-10;
	}

	.bo-textarea__field--expand {
		@apply grow;
	}

	.bo-textarea__field--resizable {
		@apply resize-y;
	}

	.bo-textarea__field--sm {
		@apply p-2;
	}

	.bo-textarea__field--default {
		@apply p-3;
	}

	.bo-textarea__field--lg {
		@apply p-4;
	}

	.bo-textarea__prefix-icon {
		@apply absolute start-3 top-3 text-neutral-500;
	}

	.dark .bo-textarea__prefix-icon {
		@apply text-neutral-400;
	}

	.bo-textarea__prefix-icon--sm {
		@apply top-2.5;
	}

	.bo-textarea__prefix-icon--default {
		@apply top-3;
	}

	.bo-textarea__prefix-icon--lg {
		@apply start-3.5 top-4;
	}

	.bo-textarea__suffix-icon {
		@apply absolute end-3 top-3 h-full text-neutral-500;
	}

	.dark .bo-textarea__suffix-icon {
		@apply text-neutral-400;
	}

	.bo-textarea__suffix-icon--sm {
		@apply top-2.5;
	}

	.bo-textarea__suffix-icon--default {
		@apply top-3;
	}

	.bo-textarea__suffix-icon--lg {
		@apply end-3.5 top-4;
	}

	.bo-textarea__error {
		@apply mt-1 flex items-center gap-1 text-sm text-red-600;
	}

	.dark .bo-textarea__error {
		@apply text-red-400;
	}

	.bo-textarea__hint {
		@apply mt-1 text-sm text-neutral-600;
	}

	.dark .bo-textarea__hint {
		@apply text-neutral-400;
	}
}
