@import '@/styles/themes.scss';
@import '@/styles/layout.scss';

.bo-icon {
	mask-size: contain;
	position: relative;
	display: inline-block;
	mask-repeat: no-repeat;
	vertical-align: middle;
	mask-position: center center;

	-webkit-user-select: none;
	-webkit-mask-size: contain;
	-webkit-touch-callout: none;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-tap-highlight-color: transparent;

	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	&.xs {
		@extend %height-xs;
		@extend %width-xs;
	}

	&.sm {
		@extend %height-sm;
		@extend %width-sm;
	}

	&.md {
		@extend %height-md;
		@extend %width-md;
	}

	&.lg {
		@extend %height-lg;
		@extend %width-lg;
	}

	&.xl {
		@extend %height-xl;
		@extend %width-xl;
	}

	&.xxl {
		@extend %height-xxl;
		@extend %width-xxl;
	}

	&.xxxl {
		@extend %height-xxxl;
		@extend %width-xxxl;
	}
}
