.css-1njl3fa {
	div {
		:first-child {
			margin-left: 2px;
		}

		:last-child {
			margin-right: 2px;
		}

		&:not(:first-child):not(:last-child) {
			margin: 0 1px;
		}
	}

	::before {
		content: none;
		border-radius: 8px;
	}
}

[class^='css'] {
	transform: none !important;
}
