:root {
	/* bo-icon */
	--bo-icon-color-default: currentcolor;
	--bo-icon-color-primary: var(--blue-600);
	--bo-icon-color-secondary: var(--neutral-600);
	--bo-icon-color-disabled: var(--neutral-400);
	--bo-icon-color-success: var(--green-600);
	--bo-icon-color-warning: var(--yellow-500);
	--bo-icon-color-danger: var(--red-600);
	--bo-icon-color-white: var(--white);
	--bo-icon-color-black: var(--black);
	--bo-icon-color-current: currentcolor;
	--bo-icon-color-inherit: inherit;

	/* bo-text */
	--bo-text-color-default: var(--neutral-900);
	--bo-text-color-primary: var(--blue-600);
	--bo-text-color-secondary: var(--neutral-600);
	--bo-text-color-disabled: var(--neutral-400);
	--bo-text-color-success: var(--green-600);
	--bo-text-color-warning: var(--yellow-500);
	--bo-text-color-danger: var(--red-600);
	--bo-text-color-white: var(--white);
	--bo-text-color-black: var(--black);
	--bo-text-color-current: currentcolor;
	--bo-text-color-inherit: inherit;

	/* bo-loading-ring */
	--bo-loading-ring-color-primary: var(--blue-600);
	--bo-loading-ring-color-secondary: var(--neutral-400);
	--bo-loading-ring-color-success: var(--green-600);
	--bo-loading-ring-color-warning: var(--yellow-600);
	--bo-loading-ring-color-danger: var(--red-600);
	--bo-loading-ring-color-black: var(--black);
	--bo-loading-ring-color-white: var(--white);

	/* bo-loading-spinner */
	--bo-loading-spinner-color-primary: var(--blue-600);
	--bo-loading-spinner-color-secondary: var(--neutral-400);
	--bo-loading-spinner-color-success: var(--green-600);
	--bo-loading-spinner-color-warning: var(--yellow-600);
	--bo-loading-spinner-color-danger: var(--red-600);
	--bo-loading-spinner-color-black: var(--black);
	--bo-loading-spinner-color-white: var(--white);

	/* bo-button */
	--button-focus-ring: var(--blue-500);

	/* Primary Variant */
	--button-text-primary: var(--white);
	--button-bg-primary: var(--blue-600);
	--button-border-primary: var(--blue-600);
	--button-bg-primary-hover: var(--blue-700);
	--button-bg-primary-active: var(--blue-800);

	/* Secondary Variant */
	--button-text-secondary: var(--neutral-700);
	--button-bg-secondary: var(--neutral-100);
	--button-border-secondary: var(--neutral-300);
	--button-bg-secondary-hover: var(--neutral-300);
	--button-bg-secondary-active: var(--neutral-100);

	/* Success Variant */
	--button-text-success: var(--white);
	--button-bg-success: var(--green-600);
	--button-border-success: var(--green-600);
	--button-bg-success-hover: var(--green-700);
	--button-bg-success-active: var(--green-800);

	/* Warning Variant */
	--button-text-warning: var(--white);
	--button-bg-warning: var(--amber-500);
	--button-border-warning: var(--amber-500);
	--button-bg-warning-hover: var(--amber-600);
	--button-bg-warning-active: var(--amber-700);

	/* Danger Variant */
	--button-text-danger: var(--white);
	--button-bg-danger: var(--red-600);
	--button-border-danger: var(--red-600);
	--button-bg-danger-hover: var(--red-700);
	--button-bg-danger-active: var(--red-800);

	/* White Variant */
	--button-text-white: var(--neutral-700);
	--button-bg-white: var(--white);
	--button-border-white: var(--neutral-200);
	--button-bg-white-hover: var(--neutral-50);
	--button-bg-white-active: var(--neutral-100);

	/* Black Variant */
	--button-text-black: var(--white);
	--button-bg-black: var(--black);
	--button-border-black: var(--black);
	--button-bg-black-hover: var(--neutral-900);
	--button-bg-black-active: var(--neutral-800);
}

:root[data-theme='dark'],
.dark {
	/* bo-icon */
	--bo-icon-color-default: currentcolor;
	--bo-icon-color-primary: var(--blue-400);
	--bo-icon-color-secondary: var(--neutral-400);
	--bo-icon-color-disabled: var(--neutral-600);
	--bo-icon-color-success: var(--green-400);
	--bo-icon-color-warning: var(--yellow-400);
	--bo-icon-color-danger: var(--red-400);
	--bo-icon-color-white: var(--white);
	--bo-icon-color-black: var(--black);
	--bo-icon-color-current: currentcolor;
	--bo-icon-color-inherit: inherit;

	/* bo-text */
	--bo-text-color-default: var(--neutral-50);
	--bo-text-color-primary: var(--blue-400);
	--bo-text-color-secondary: var(--neutral-400);
	--bo-text-color-disabled: var(--neutral-600);
	--bo-text-color-success: var(--green-400);
	--bo-text-color-warning: var(--yellow-400);
	--bo-text-color-danger: var(--red-400);
	--bo-text-color-white: var(--white);
	--bo-text-color-black: var(--black);
	--bo-text-color-current: currentcolor;
	--bo-text-color-inherit: inherit;

	/* bo-loading-ring */
	--bo-loading-ring-color-primary: var(--blue-400);
	--bo-loading-ring-color-secondary: var(--neutral-500);
	--bo-loading-ring-color-success: var(--green-400);
	--bo-loading-ring-color-warning: var(--yellow-400);
	--bo-loading-ring-color-danger: var(--red-400);
	--bo-loading-ring-color-black: var(--black);
	--bo-loading-ring-color-white: var(--white);

	/* bo-loading-spinner */
	--bo-loading-spinner-color-primary: var(--blue-400);
	--bo-loading-spinner-color-secondary: var(--neutral-500);
	--bo-loading-spinner-color-success: var(--green-400);
	--bo-loading-spinner-color-warning: var(--yellow-400);
	--bo-loading-spinner-color-danger: var(--red-400);
	--bo-loading-spinner-color-black: var(--black);
	--bo-loading-spinner-color-white: var(--white);

	/* bo-button */
	--button-focus-ring: var(--blue-400);

	/* Primary Variant */
	--button-text-primary: var(--white);
	--button-bg-primary: var(--blue-600);
	--button-border-primary: var(--blue-700);
	--button-bg-primary-hover: var(--blue-400);
	--button-bg-primary-active: var(--blue-300);

	/* Secondary Variant */
	--button-text-secondary: var(--neutral-200);
	--button-bg-secondary: var(--neutral-800);
	--button-border-secondary: var(--neutral-600);
	--button-bg-secondary-hover: var(--neutral-700);
	--button-bg-secondary-active: var(--neutral-600);

	/* Success Variant */
	--button-text-success: var(--white);
	--button-bg-success: var(--green-500);
	--button-border-success: var(--green-500);
	--button-bg-success-hover: var(--green-400);
	--button-bg-success-active: var(--green-300);

	/* Warning Variant */
	--button-text-warning: var(--white);
	--button-bg-warning: var(--amber-400);
	--button-border-warning: var(--amber-400);
	--button-bg-warning-hover: var(--amber-300);
	--button-bg-warning-active: var(--amber-200);

	/* Danger Variant */
	--button-text-danger: var(--white);
	--button-bg-danger: var(--red-500);
	--button-border-danger: var(--red-500);
	--button-bg-danger-hover: var(--red-400);
	--button-bg-danger-active: var(--red-300);

	/* White Variant */
	--button-text-white: var(--neutral-900);
	--button-bg-white: var(--white);
	--button-border-white: var(--neutral-300);
	--button-bg-white-hover: var(--neutral-100);
	--button-bg-white-active: var(--neutral-200);

	/* Black Variant */
	--button-text-black: var(--white);
	--button-bg-black: var(--black);
	--button-border-black: var(--black);
	--button-bg-black-hover: var(--neutral-900);
	--button-bg-black-active: var(--neutral-800);
}
