@import '@/styles/colors.scss';
@import '@/styles/layout.scss';
@import '@/styles/typography.scss';

.bo-avatar {
	&__container {
		position: relative;
		display: inline-block;

		&__image {
			@extend %font-mono;

			display: flex;
			align-items: center;
			vertical-align: middle;
			justify-content: center;

			&.base {
				border-radius: 25%;
			}

			&.rounded {
				border-radius: 50%;
			}

			&%flat {
				border-radius: 0;
			}

			&.image {
				object-fit: cover;
				background-color: transparent;
			}

			&.initial {
				object-fit: cover;
			}

			&.xs {
				@extend %font-xs;

				height: 1.5rem;
				width: 1.5rem;
			}

			&.sm {
				@extend %font-sm;

				height: 2rem;
				width: 2rem;
			}

			&.md {
				@extend %font-md;

				height: 2.5rem;
				width: 2.5rem;
			}

			&.lg {
				@extend %font-lg;

				height: 3rem;
				width: 3rem;
			}

			&.xl {
				@extend %font-xl;

				height: 3.5rem;
				width: 3.5rem;
			}

			&.xxl {
				@extend %font-xxl;

				height: 4rem;
				width: 4rem;
			}

			&.xxxl {
				@extend %font-xxxl;

				height: 4.5rem;
				width: 4.5rem;
			}
		}

		&__indicator {
			@extend %width-sm;
			@extend %height-sm;

			position: absolute;
			border-radius: 100%;
			border: 0.125rem solid var(--white);

			&.bottom {
				bottom: 0;
				right: 0;
			}

			&.top {
				top: 0;
				right: 0;
			}
		}
	}
}
