@import '@/styles/colors.scss';
@import '@/styles/layout.scss';
@import '@/styles/typography.scss';

.bo-avatar {
	&__container {
		position: relative;
		display: inline-block;

		&__image {
			@extend .font-mono;

			display: flex;
			align-items: center;
			vertical-align: middle;
			justify-content: center;

			&.square {
				border-radius: 25%;
			}

			&.rounded {
				border-radius: 50%;
			}

			&.flat {
				border-radius: 0px;
			}

			&.image {
				object-fit: cover;
				background-color: transparent;
			}

			&.initial {
				object-fit: cover;
			}

			&.xxs {
				@extend .font-xxs;

				height: 16px;
				width: 16px;
			}

			&.xs {
				@extend .font-xs;

				height: 24px;
				width: 24px;
			}

			&.sm {
				@extend .font-sm;

				height: 32px;
				width: 32px;
			}

			&.md {
				@extend .font-md;

				height: 40px;
				width: 40px;
			}

			&.lg {
				@extend .font-lg;

				height: 48px;
				width: 48px;
			}

			&.xl {
				@extend .font-xl;

				height: 56px;
				width: 56px;
			}

			&.xxl {
				@extend .font-xxl;

				height: 64px;
				width: 64px;
			}

			&.xxxl {
				@extend .font-xxxl;

				height: 72px;
				width: 72px;
			}
		}

		&__indicator {
			@extend .height-xs;
			@extend .width-xs;

			position: absolute;
			border-radius: 100%;
			border: 2px solid var(--white);

			&.bottom {
				bottom: 0;
				right: 0;
			}

			&.top {
				top: 0;
				right: 0;
			}
		}
	}
}
