@import '@/styles/layout.scss';
@import '@/styles/theme.scss';
@import '@/styles/typography.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

.bo-input {
	&__container {
		display: flex;
		max-width: 22rem;
		flex-direction: column;
	}

	&__label {
		@extend %font-sm;
		@extend %font-inter;
		@extend %font-regular;

		display: block;
		color: var(--input-text-color);
	}

	&__field-container {
		position: relative;
		padding: 0.375rem 0;

		&__input {
			width: 100%;
			outline: none;
			display: block;
			color: var(--input-text-color);
			border-radius: 0.375rem; /** 6px */
			background-color: var(--input-background-color);
			border: 0.0625rem solid var(--input-border-color); /** 1px */

			&.sm {
				padding: 0.5rem; /** 8px */
			}

			&.md {
				padding: 0.625rem; /** 10px */
			}

			&.lg {
				padding: 1rem; /** 16px */
			}

			&:disabled {
				color: var(--input-disabled-text-color);
				background-color: var(--input-disabled-background-color);
				border: 0.0625rem solid var(--input-disabled-border-color); /** 1px */
			}

			&.default {
				&:focus {
					border: 0.0625rem solid var(--blue-600); /** 1px */
					transition: all 0.2s ease-in-out;
				}
			}

			&.error {
				border: 0.0625rem solid var(--error-color); /** 1px */
			}
		}

		&__icon-container {
			display: flex;
			align-items: baseline;
			justify-content: space-around;

			&__icon {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&__error-container {
		display: flex;
		align-items: center;

		&__icon {
			margin-right: 0.25rem; /** 4px */
		}

		&__msg {
			@extend %font-xs;
			@extend %font-inter;
			@extend %font-regular;

			color: var(--error-color);
		}
	}

	&__description {
		@extend %font-xs;
		@extend %font-inter;
		@extend %font-regular;

		color: var(--input-text-color);
	}
}
