@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source './components/**/*.vue';
@source './components/**/*.ts';
@source '@workspace/bamboo-core/src/manifests/**/*.ts';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	color-scheme: light;
}

.dark {
	color-scheme: dark;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		scroll-behavior: auto !important;
		animation-duration: 0.01ms !important;
		transition-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
	}
}
